<style>
  div {
    height: 10px;
    margin: 10px;
    padding: 20px;
  }
  #tweet {
    color: black;
    border: 2px solid #ccc;
    padding: 5px;
  }
  #message {
    text-align: left;
    padding: 5px;
  }
  #user {
    font-weight: bold;
    float: left;
    cursor: pointer;
    color: blue;
  }
  #time {
    color: grey;
    float: right;
  }
  #column1 {
    width: 400px;
    float: left;
  }
  #column2 {
    width: 400px;
    float: left
  }

</style>
