<style>
  div {
    height: 10px;
    margin: 10px;
    padding: 20px;
  }
  #tweet {
    width: 400px;
    color: black;
    border: 2px solid #ccc;
  }
  #message {
    text-align: center;
  }
  #user {
    font-weight: bold;
    float: left;
  }
  #time {
    color: grey;
    float: right;
  }

</style>
